.main-footer {
  background: #000;
  color: #fff;
  &__upper {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
    @include respond(tab-port) {
      padding: 6rem 0;
    }
    @include respond(phone) {
      display: block;
    }
  }

  &__row-1 {
    order: 2;
    @include respond(tab-port) {
      margin-bottom: 5rem;
    }
  }
  &__row-2 {
    width: 40%;
    order: 1;
    max-width: 50rem;
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__short-desc {
    margin-top: 2rem;
    color: #eee;
    font-size: 1.5rem;
    line-height: 1.7;
  }

  &__social-cont {
    margin-top: 2rem;
    
  }

  &__icon {
    margin-right: 1rem;
    width: 2.5rem;
    &--mr-none {
      margin-right: 0;
    }
    
  }
  

  &__lower {
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1.2rem;
    text-align: left;
    text-align: center;
    a {
      text-decoration: underline;
      font-weight: bold;
      margin-left: 2px;
    }
    @include respond(tab-port) {
      padding: 3.5rem 0;
    }
  }
  #iconSpacing{
    @include respond(tab-port){
      margin-left: 1rem;
    }
  }
}

.hovertext-phone {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext-phone:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: #fff;
  color: black;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  right: 1px;
  top: 20px;
}

.hovertext-phone:hover:before {
  opacity: 1;
  visibility: visible;
}
