.header-about-me {
  font-size: 55px;
  padding-top: 10rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // text-align: center;

  
 
  .picture-hello {
    width: 60rem;
    @include respond(phone) {
      width: 90%;
    }
    h3{
        
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }
    p {
      font-size: 17px;
      padding-bottom: 8rem;
      b{
          color: $themeClrPrimary;
          background-color: white;
      }
    
    }
    // text-align: center;
  }
}
